[NovatOS Theme]
Description=NovatOS SDDM Theme
Author=NovatOS Project
License=GPL-3.0
Type=sddm-theme
Screenshot=screenshot.png
Website=https://github.com/salom600/NoovatOS
